h1 {
    font-weight: 600;
    font-size: 175%;
    background-color: lightcoral;
    padding: 100px;
    margin: 50px;
    text-align: center;
    border: 2px solid peru;
    border-radius: 10px;
}

#intro {
    font-size: 150%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -10px;
    letter-spacing: .2em;
}

p {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 10px;
    background-color: mediumseagreen;
    opacity: .8;
    padding: 10px 10px;
}